node_modules
dist
.DS_Store
*.log
database2.json
database.json
admin_settings.json
admin_settings*.json

*.py
*.sh
*.cjs
*.txt
*.config.json
database*.json
patch_*.ts
fix_*.ts
test*.ts
test*.js
*.mjs
*.js
import_audio.ts
list_models.ts
modify_buttons_audio.ts
app/
bun.lock
